.main {
    max-width: 1000px;
    margin: auto;
    
  }
  .row {
    margin: 10px -16px;
    text-align: center;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 370px;
    display: none;
    margin: auto;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  .show {
    display: block;
  }
